---
import { ProjectsTable } from './table'
import { getCollection } from 'astro:content'

const data = await getCollection('projects')
---

<section class='w-full overflow-x-auto border border-zinc-700'>
  <ProjectsTable data={data} client:idle />
</section>
