---
import Layout from '~/layouts/layout.astro'
import Home from '~/components/home/home.astro'
import Projects from '~/components/home/projects.astro'
import bgImage from '~/assets/common/spiral.svg'
import { getImage } from 'astro:assets'

const bgImageUrl = await getImage({ src: bgImage })
---

<Layout>
  <main class='flex min-h-screen flex-col px-4 pb-[64px]'>
    <Home />
    <Projects id='projects' />
  </main>

  <Fragment slot='head'>
    <link rel='preload' as='image' href={bgImageUrl.src} />
  </Fragment>
</Layout>
