---
import Layout from '~/layouts/layout.astro'
import Main from '~/layouts/main.astro'
import Projects from '~/components/home/projects.astro'
---

<Layout>
  <Main>
    <Projects />
  </Main>
</Layout>
