---
import Layout from '~/layouts/layout.astro'
import Main from '~/layouts/main.astro'
import Hero from '~/components/home/hero.astro'
import Projects from '~/components/home/projects.astro'
---

<Layout htmlRootProps={{ class: 'scroll-smooth' }}>
  <Main>
    <Hero id='hero' class='snap-start' />
    <hr class='border border-zinc-300' />
    <Projects id='projects' />
  </Main>
</Layout>
