---
import Layout from '~/layouts/layout.astro'
import Home from '~/components/home/home.astro'
---

<Layout>
  <main class='flex min-h-screen flex-col pt-[64px] px-4'>
    <Home />
  </main>
</Layout>
