---
import Layout from '../layout/layout.astro'
---

<Layout>
  {/* <body /> */}
  <main class='min-h-screen bg-gradient-to-b from-[#FFFFFF] to-[#DEEFF6]'>
    <section
      class='min-h-screen flex flex-col justify-center px-4 lg:max-w-screen-lg lg:mx-auto'
    >
      <h1
        class='font-heading text-9xl lg:text-[20rem] leading-[85%] bg-gradient-to-br from-[#025590] to-[#00A6CB] bg-clip-text text-transparent'
      >
        Coming Soon
      </h1>
    </section>
  </main>
</Layout>
