---
import Layout from '../layout/layout.astro'
---

<Layout>
  {/* <body /> */}
  <main class='min-h-screen flex flex-col justify-center px-4'>
    <h1 class='font-heading text-9xl leading-[80%]'>Coming Soon</h1>
  </main>
</Layout>
