---
import Layout from '~/layouts/layout.astro'
import ProjectsTable from '~/components/projects/table.astro'
---

<Layout>
  <main class='mx-auto max-w-screen-xl px-4 pt-12'>
    <ProjectsTable />
  </main>
</Layout>
