---
import PagesLayout, {
  type Props as PagesLayoutProps
} from '~/layouts/pages.astro'
import ProjectsTable from '~/components/projects/table.astro'
import BackIcon from '~icons/material-symbols/arrow-back-rounded'

const props = {
  title: 'Projects',
  subtitle: 'My past works.',
  description: 'Archive page contains list of past projects.'
} satisfies PagesLayoutProps
---

<PagesLayout {...props}>
  <ProjectsTable />

  <Fragment slot='navigation'>
    <a
      class='text-zinc-500 hover:text-zinc-800 sm:text-xl'
      href='/#projects'
      aria-label='home'
    >
      <BackIcon />
    </a>
  </Fragment>
</PagesLayout>
