---
import PagesLayout, {
  type Props as PagesLayoutProps
} from '~/layouts/pages.astro'
import ProjectsTable from '~/components/projects/table.astro'

const props = {
  title: 'Projects',
  subtitle: 'My past works.',
  description: 'Archive page contains list of past projects.'
} satisfies PagesLayoutProps
---

<PagesLayout {...props}>
  <div class='w-full overflow-x-auto border border-zinc-700'>
    <ProjectsTable />
  </div>
</PagesLayout>
