---
import Section, { type Props as SectionProps } from './section.astro'
import { getEntry, render } from 'astro:content'
import { Image } from 'astro:assets'

interface Props extends SectionProps {}

const { class: className, ...props } = Astro.props
const site = await getEntry('site', 'site')
const bio = await getEntry('bio', 'bio')
const { Content: BioContent } = await render(bio)
---

<Section
  class:list={[
    'mx-auto grid min-h-screen max-w-screen-lg grid-cols-1 gap-y-4 pb-8 sm:grid-cols-2 sm:gap-x-6 sm:pb-0',
    className
  ]}
  {...props}
>
  <div
    class='-mx-4 flex flex-col items-center justify-start gap-1 border-b border-zinc-400 pb-4 sm:mx-0 sm:gap-4 sm:border-b-0 sm:pb-0 md:justify-center'
  >
    <Image
      class='mb-2 w-[64px] rounded-full md:w-[128px]'
      src={bio.data.image}
      widths={[128, 256]}
      loading='eager'
      alt=''
    />
    <h1
      class='break-words text-center text-2xl font-black leading-snug sm:text-4xl md:text-5xl'
    >
      {site.data.title}
    </h1>
    <p class='px-4 text-center sm:px-0 sm:text-xl'>{site.data.description}</p>
  </div>
  <div class='flex flex-col justify-start md:justify-center'>
    <article class='prose prose-zinc font-mono sm:prose-sm'>
      <BioContent />
    </article>
  </div>
</Section>
