---
import type { HTMLAttributes } from 'astro/types'
import Head from './head.astro'

export interface Props extends HTMLAttributes<'body'> {}
const { ...attrs } = Astro.props
---

<html lang='en'>
  <Head>
    <slot name='head' />
  </Head>
  <body {...attrs}>
    <slot />
  </body>
</html>
