@import 'tailwindcss';

@theme {
  /* Font Families */
  --font-family-heading: 'Radio Canada Big Variable', system-ui, sans-serif;
  --font-family-display: 'Radio Canada Variable', system-ui, sans-serif;

  /* Brand Colors */
  --color-primary: hsl(200, 100%, 45%);
  --color-secondary: hsl(175.22, 100%, 39.41%);
  --color-text: hsl(221.43, 100%, 16.47%);
  --color-bg: hsl(220, 75%, 98.43%);
  --color-muted: hsl(215, 4.84%, 51.37%);
}
