---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'main'> {}

const { class: className, ...props } = Astro.props
---

<main class:list={['flex-1', className]} {...props}>
  <slot />
</main>
