@import 'tailwindcss';

@theme {
  /* Font Families */
  --font-family-heading: 'Radio Canada Big Variable', system-ui, sans-serif;
  --font-family-display: 'Radio Canada Variable', system-ui, sans-serif;

  /* Brand Colors */
  --color-primary: oklch(68.6% 0.102 219.01);
  --color-secondary: oklch(65.5% 0.133 329.34);
  --color-text: oklch(22.6% 0.054 242.87);
  --color-bg: oklch(96.8% 0.009 222.06);
  --color-muted: oklch(60.5% 0.009 225.17);
}
