---
import { getEntry } from 'astro:content'

const site = await getEntry('site', 'site')

export interface Props {
  title?: string | undefined
  description?: string | undefined
}

const { title, description } = Astro.props
---

{/* obviously */}
<title>{title ? `${title} | ${site.data.title}` : site.data.title}</title>
<meta name='description' content={description || site.data.description} />
<link rel='canonical' href={Astro.url} />
<meta name='generator' content={Astro.generator} />

{/* icons */}
<link rel='icon' href='/favicon.ico' sizes='48x48' />
<link rel='icon' href='/favicon.svg' sizes='any' type='image/svg+xml' />
<link rel='apple-touch-icon' href='/apple-touch-icon-180x180.png' />

{/* manifest */}
<link rel='manifest' href='/manifest.json' />
