---
import Layout, { type Props as LayoutProps } from '~/layouts/layout.astro'
import Heading from '~/components/common/heading.astro'

interface Props extends LayoutProps {
  title: string
}
const { title, description, class: className, ...props } = Astro.props
---

<Layout title={title} description={description} {...props}>
  <main
    class='mx-auto min-h-screen [max-width:1280px] overflow-x-hidden py-[64px] px-4 md:pt-[96px]'
  >
    <Heading title={title} />

    {/* content goes here */}
    <slot />
  </main>

  {/* <head /> */}
  <Fragment slot='head'>
    <slot name='head' />
  </Fragment>
</Layout>
