---
import Layout, { type Props as LayoutProps } from '~/layouts/layout.astro'
import Main from './main.astro'
import { BackButton } from '~/components/common/button'

export interface Props extends LayoutProps {
  subtitle?: string | undefined
}

const { title, subtitle, class: className, ...props } = Astro.props
---

<Layout title={title} class:list={['pt-4', className]} {...props}>
  <header class='mx-auto mb-8 flex max-w-screen-xl flex-col px-4'>
    <div class='flex flex-col'>
      <div class='mb-4 flex gap-1'>
        <BackButton href='/' aria-label='Home' />
      </div>
      <slot name='header'>
        <h1 class='text-2xl font-extrabold md:text-4xl'>{title}</h1>
      </slot>
    </div>
  </header>

  <Main class='mx-auto max-w-screen-xl px-4'>
    <slot />
  </Main>

  <Fragment slot='head'>
    <slot name='head' />
  </Fragment>
</Layout>
