---
import Layout, { type Props as LayoutProps } from '~/layouts/layout.astro'
import Main from './main.astro'

export interface Props extends LayoutProps {
  subtitle?: string | undefined
}

const { title, subtitle, ...props } = Astro.props
---

<Layout title={title} {...props}>
  <header
    class='mx-auto flex max-w-screen-xl flex-col gap-1 px-4 pb-4 pt-16 md:gap-2'
  >
    <h1 class='text-2xl font-extrabold md:text-4xl'>{title}</h1>
    {subtitle && <p class='font-mono text-zinc-700'>{subtitle}</p>}
  </header>
  <Main class='mx-auto max-w-screen-xl px-4'>
    <slot />
  </Main>

  <Fragment slot='head'>
    <slot name='head' />
  </Fragment>
</Layout>
